<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  
  <ion-card *ngIf="citaAleatoria">
    <ion-card-header>
      <ion-card-title>"{{ citaAleatoria.frase }}"</ion-card-title>
      <ion-card-subtitle>- {{ citaAleatoria.autor }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <p *ngIf="!citaAleatoria">No hay citas. Ve a gestión para agregar una.</p>

  <div *ngIf="citasService.borrarEnInicio && citaAleatoria">
    <ion-button color="danger" (click)="borrarCitaActual()">
      <ion-icon name="trash" slot="start"></ion-icon>
      ELIMINAR ESTA CITA
    </ion-button>
  </div>

  <ion-button expand="block" fill="clear" (click)="cambiarCita()">
    VER OTRA CITA
  </ion-button>

</ion-content>